.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
  padding: 0 50px; 
  margin-top: 64px;
}

.centered {
  text-align: center;
}

.bigIcon {
  font-size: '18px'; color: 'WHITE'; vertical-align: 'middle'
}


.site-statistic-demo-card .ant-statistic-title {
  font-size: 1.3em;
  font-weight: 500;
  color: #120338;
}


.greyBgr {
  background-color: #f0f2f5;
} 

.site-layout .site-layout-background {
  background: #fff;
}

.logoImg {
  padding: 12px 16px;
}

.logoText {
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 11px;
  line-height: 22px;
}

.alignBottom {
  position: fixed;
  text-align: center;
  padding-left:12px;
  bottom: 0;
  height: 42px;
}

.tinyButton {
  font-size: 12px;
  background: none;
  color: white
}

.bottomSiderIcon a{
  padding: 28px;

}

.credentials {
  color: #000000;
  font-size: 12px;
  text-align: center;
}

.credentialsLink {
  color: #c242e2;
}

.credentialsLink:hover {
  color: #7eb0d6;
}

.largeText {
  font-size: 1.1em;
  font-weight: 500;
}

.statNone {
  color: lightgray;
  font-weight: 600;
  text-decoration: underline;
}
.statSmall {
  color: lightpink;
  font-weight: 600;
  text-decoration: underline;
}
.statLosing {
  color: lightcoral;
  font-weight: 600;
  text-decoration: underline;
}
.statFlattening {
  color: lightsalmon;
  font-weight: 600;
  text-decoration: underline;
}
.statCrushing {
  color: lightskyblue;
  font-weight: 600;
  text-decoration: underline;
}
.statWinning {
  color: lightgreen;
  font-weight: 600;
  text-decoration: underline;
}
.statWon {
  color: lightseagreen;
  font-weight: 600;
  text-decoration: underline;
}

.vesselSize {
  width: 1em;
}

.redB {
  background-color: 'red';
}