/* set base font size for rem */
body {
  background: #f0f2f5;
  font-size: 16px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500 !important;
  color: #05264c !important;
  margin-bottom: 0.5rem !important;
}
h2 {
  font-size: 1.75rem !important;;
}
h4 {
  font-size: 1.25rem !important;;
}

.ant-statistic-title {
  margin-bottom: 4px;
  color: rgb(0 0 0 / 88%) !important;;
  font-size: 1rem !important;;
  border-bottom: 4px solid #ccc;
}
.ant-statistic-content {
  font-weight: 500 !important;
  font-size: 1.25rem !important;
}


.conentWithMargin {
  padding: 1.25rem 1.25rem 0.25rem 1.25rem;
}

@media (max-width: 800px) {
  body {
    font-size: 0.875rem !important;
  }
  .conentWithMargin {
    padding: 0.5rem 0.25rem 0.25rem 0.25rem;
  }
  h2 {
    font-size: 1.05rem !important;;
  }
  h4 {
    font-size: 1.05rem !important;;
  }
  .credentials-right,
  .credentials-left {
    text-align: center !important;
  }
  .ant-statistic-title {
    font-size: 0.875rem !important;;
  }
  .ant-statistic-content {
    font-size: 1rem !important;
  }
  
}

@media (max-width: 480px) {
  body {
    font-size: 0.75rem !important;
  }
}

.centered {
  text-align: center;
}

.choiceText {
  color: #05264c;
  font-style: italic;
  font-weight: 300;
}


.credentials-left {
  color: #000000;
  font-size: 0.75rem;
  text-align: left;
}

.credentials-right {
  color: #000000;
  font-size: 0.75rem;
  text-align: right;
}

.build-time {
  color: #120338;
  font-size: 0.75rem;
  text-align: right;
}

.largeText {
  font-size: 1.1rem;
  font-weight: 500;
}

.leaflet-container {
  width: 100%;
  min-width: 416px !important;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.divider {
  margin: 0.35rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.marker-text {
  margin: auto;
  display: inline-block;
}

.icon-marker {
  text-align: center !important;
  display: flex;
  position: relative;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}


.icon-marker:before,
.icon-marker:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  border: 2px solid rgba(245, 192, 192, 0.7);
  filter: blur(0);
  transform-origin: 50%;
  z-index: -1;
}

.icon-marker:hover:before,
.icon-marker:hover:after {
  border-color: transparent;
  filter: blur(2px);
  transform: scale(3);
  transition: 1000ms transform ease, 2100ms blur ease, 900ms border-color ease;
}

.icon-marker:hover:after {
  transition-delay: 150ms;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #39393a !important;
  color: white !important;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  border-radius: 4px !important;
}

.leaflet-popup-content {
  margin: 0.5rem 1rem !important;
  line-height: 1.4rem;
}

.title {
  color: #F3A207;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: .1rem;
  margin-top: 0;
}

.marker-list {
  list-style: none;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
  color: #f1f1f0;
}

.icon-marker-small {
  width: 1.8rem !important;
  height: 1.8rem !important;
  background-color: #f8b7b2;
}

.icon-marker-normal {
  width: 2.7rem !important;
  height: 2.7rem !important;
  background-color: #ff7875;
}

.icon-marker-large {
  width: 3.5rem !important;
  height: 3.5rem !important;
  background-color: #f5222d;
}

.icon-marker-extra-large {
  width: 4.3rem !important;
  height: 4.3rem !important;
  background-color: #a8071a;
}

.icon-marker-super-large {
  width: 5.1rem !important;
  height: 5.1rem !important;
  background-color: #5c0011;
}

.sider-box-shadow {
  box-shadow: 2px 0 3px 0 #636363;
}



.no-border {
  border-width: 0;
}

.leaflet-div-icon {
  background: none !important;
  border: none !important;
}

.ant-table {
  line-height: 1.1rem !important;
}

.ant-table.ant-table-small {
  font-size: 0.875rem !important;
}

.ant-tag {
  font-size: 0.95rem !important;
}

.ant-slider-step {
  background-color: #00000026 !important;
}

.ant-switch-inner {
  margin: 0 0.75rem 0 1.5rem !important;
  color: #fff !important;
  font-size: 0.9rem !important;
}

.ant-switch-checked .ant-switch-inner {
  margin: 0 1.5rem 0 0.75rem !important;
}

.ant-switch {
  float: right !important
}

.ant-layout-footer {
  padding: 24px 24px !important;
  padding-bottom: 0.5rem !important;
}

.mb-20 {
  margin-bottom: 1.25rem
}

.mb-10 {
  margin-bottom: .625rem
}

.mt-10 {
  margin-top: .625rem
}

.mr-10 {
  margin-right: .625rem !important;
}

.chart {
  height: 450px;
}


.alignBottom {
  position: fixed;
  bottom: 5px;
  height: 42px;
}

.ant-menu-inline-collapsed {
  width: 4rem !important;
}

.ant-layout-sider  {
  flex: 0 0 4rem !important;
  max-width: 4rem !important;
  min-width: 4rem !important;
  width: 4rem !important;
}



.ant-menu-vertical {
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}


.logoImg {
  padding: 0px 14px 7px 14px  !important; ;
}

.logoText {
  font-weight: 600;
  text-transform: uppercase;
  color: #ffb655;
  font-size: 0.65rem;
  margin-left: 8px;
  line-height: 0.65rem;
}

.ant-menu-vertical .ant-menu-item {
  line-height: 3rem  !important;
  height: 3rem  !important;
}

.ant-menu-item-icon {
  font-size: 1.4rem !important;
  text-align: center !important;
  line-height: 3.5rem !important;
}

.ant-menu-item {
  padding-left: 1.3rem !important;
}
.cvd {
  padding-bottom: 1rem;
}

.helpIcon {
  color: rgb(231, 231, 231);
  font-size: 1.4rem !important;
  text-align: center !important;
  padding-left: 1.3rem !important;

}


